body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

nav {
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  width: 100%;
  /* border: 1px solid #ffffff; */
  background-color: #ffffff;
  /* background-color: #ec2a2a; */
  height: 100px;
}

nav img {
  margin-left: 90px;
  margin-top: 31px;
}
nav ul {
  float: right;
  /* display: flex;
  justify-content: space-evenly;
  align-items: center; */
  list-style: none;
  margin-right: 99px;
  margin-top: 43px;
}

nav ul li {
  display: inline-block;
  margin: 0 22px;
  cursor: pointer;
  /* line-height: 50px; */
}
.menu li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 11.5px;
  text-transform: uppercase;
  color: #171717;
}

.menu li a.active,
.menu li a:hover {
  color: #0fc9c3;
  transition: all 0.3s linear;
}

.checkbtn {
  font-size: 30px;
  color: #171717;
  float: right;
  line-height: 99px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media only screen and (min-width: 769px) {
  .menu li a {
    font-size: 15px;
  }
}

.top-section {
  width: 100%;
  height: 350px;
  background: rgba(0, 0, 0, 0.6) url("./images/AmeliaWoods.png");
  background-position: 0px -230px;
  background-blend-mode: darken;
  opacity: 0.9;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* margin: -1px 0; */
}

.top-section h1 {
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #ffffff;
}

.top-section p {
  width: 29%;
  text-align: center;
  font-size: 15px;
  font-family: "Nunito Sans", sans-serif;
  color: #ffffff;
}

.credits {
  width: 100%;
  height: 240px;
  background-color: #10c9c3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.about-me {
  width: 100%;
  height: 565px;
  display: flex;
}

.about-me img {
  width: 100%;
  height: 565px;
  object-fit: cover;
}
.portrait {
  width: 50%;
}

.about {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.need-a-project {
  width: 100%;
  height: 395px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer {
  width: 100%;
  height: 284px;
  background-color: #141414;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 18vh;
    background: #ffffff;
    border: none;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    line-height: 10px;
    margin: 18px 0;
  }

  .menu li a {
    font-size: 13px;
  }

  .menu li a.active {
    color: #171717;
  }

  .menu li a:hover {
    background: none;
    color: #0fc9c3;
  }

  #check:checked ~ .menu {
    left: 0;
    position: absolute;
    z-index: 2;
  }

  .top-section {
    width: 100%;
    height: 251px;
    /* opacity: 0.7; */
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
    background-size: 970px;
    background-position: -220px -162px;
    background-repeat: no-repeat;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
  }

  .top-section h1 {
    font-size: 25px;
  }

  .top-section p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  nav img {
    margin-left: 33px;
    margin-top: 21px;
  }
}
