body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

nav {
  width: 100%;
  background-color: #ffffff;
  height: 100px;
}

nav img {
  margin-left: 90px;
  margin-top: 25px;
}
nav ul {
  float: right;
  list-style: none;
  margin-right: 99px;
  margin-top: 43px;
}

nav ul li {
  display: inline-block;
  margin: 0 22px;
  cursor: pointer;
  /* line-height: 50px; */
}

.header {
  position: fixed;
  top: -30px;
  padding: 10px 0px;
  transition: all ease 0.5s;
}

.menu li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 11.5px;
  text-transform: uppercase;
  color: #171717;
}

.menu li a.active,
.menu li a:hover {
  color: #0fc9c3;
  transition: all 0.3s linear;
}

.checkbtn {
  font-size: 30px;
  color: #171717;
  float: right;
  line-height: 99px;
  margin-right: 43px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.top-section {
  width: 100%;
  height: 350px;
  background: rgba(0, 0, 0, 0.5) url("./images/AmeliaWoods1.png");
  background-position: center;
  background-blend-mode: darken;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top-section h1 {
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #ffffff;
}

.top-section p {
  max-width: 29%;
  text-align: center;
  font-size: 15px;
  font-family: "Nunito Sans", sans-serif;
  color: #ffffff;
}

.credits {
  width: 100%;
  height: 240px;
  background-color: #10c9c3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.credits #details {
  float: right;
  text-align: left;
  line-height: 10px;
}

#details h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #e8faf9;
}

#details p {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: #e8faf9;
}

.credits img {
  margin-top: 22px;
  margin-right: 15px;
}

.about-me {
  width: 100%;
  height: 565px;
  display: flex;
}

.portrait img {
  width: 100%;
  height: 565px;
  object-fit: cover;
}

.portrait {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.about {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  background-color: #f5f5f5;
}

.about h1 {
  font-size: 28px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding-left: 90px;
}

.about p {
  font-size: 15px;
  font-family: "Nunito Sans", sans-serif;
  color: #979797;
  padding: 0px 90px;
}

.signature {
  width: 220px;
  height: 60px;
  margin-top: 1em;
  padding-left: 82px;
}

.signature img {
  max-width: 220px;
  height: 60px;
  object-fit: cover;
  margin: auto;
}
.need-a-project {
  width: 100%;
  height: 396px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.need-a-project h1 {
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.need-a-project p {
  font-size: 15px;
  font-family: "Nunito Sans", sans-serif;
  width: 35%;
  color: #979797;
}

.btn {
  width: 180px;
  height: 52px;
  background-color: #10c9c3;
  color: #dfecec;
  border: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  margin-top: 29px;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(17, 223, 154);
  transform: translateY(-10px);
  transition: all 0.5s ease;
}

footer {
  width: 100%;
  /* height: 285px; */
  background-color: #141414;
  color: #b8b8b8;
  padding: 90px;
  font-size: 17px;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container li {
  list-style-type: none;
  cursor: pointer;
}

.container a {
  text-decoration: none;
  color: #b8b8b8;
  display: block;
}

.part-1,
.part-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

.column-1 {
  margin-top: -11px;
  margin-bottom: 30px;
}

.column-2 {
  margin-top: 15px;
}

.column-3 {
  margin-left: 120px;
}

.column-4 {
  margin-right: 120px;
}

.column-1 h4 {
  font-size: 21px;
  font-weight: 500;
  color: #f0f0f0;
  font-family: "Montserrat", sans-serif;
}

.container li a:hover {
  color: #ffffff;
  padding-left: 5px;
  transition: all 0.5s ease;
}

.image {
  width: 100%;
  height: 500px;
  position: fixed;
  visibility: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.active {
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .checkbtn {
    display: block;
    font-size: 28px;
  }

  nav img {
    margin-left: 60px;
    margin-top: 25px;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: auto;
    background: #ffffff;
    border: none;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    line-height: 10px;
    margin: 18px 0;
  }

  .menu li a {
    font-size: 13px;
  }

  .menu li a.active {
    color: #171717;
  }

  .menu li a:hover {
    background: none;
    color: #0fc9c3;
  }

  #check:checked ~ .menu {
    left: 0;
    position: absolute;
    z-index: 2;
  }

  .top-section {
    width: 100%;
    height: auto;
  }

  .top-section h1 {
    font-size: 25px;
  }

  .top-section p {
    font-size: 12px;
    width: 45%;
  }

  .top-section,
  .about,
  .need-a-project {
    padding: 2rem 0;
  }

  .credits {
    padding: 6rem;
    height: auto;
  }

  .about-me {
    flex-direction: column;
    max-width: 100%;
    height: auto;
  }

  .portrait,
  .about {
    width: 100%;
  }

  .hours,
  .likes {
    padding-right: 30px;
  }

  .container {
    flex-direction: column;
  }

  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5 {
    width: 100%;
  }

  .column-3 {
    margin-left: -5px;
  }

  .column-2 {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 480px) {
  nav img {
    margin-left: 33px;
    margin-top: 21px;
  }

  .checkbtn {
    display: block;
    font-size: 25px;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: auto;
    background: #ffffff;
    border: none;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    line-height: 8px;
    margin: 18px 0;
  }

  .menu li a {
    font-size: 9px;
  }

  .menu li a.active {
    color: #171717;
  }

  .menu li a:hover {
    background: none;
    color: #0fc9c3;
  }

  #check:checked ~ .menu {
    left: 0;
    position: absolute;
    z-index: 2;
  }

  .top-section h1 {
    font-size: 22px;
  }

  .top-section p {
    font-size: 10px;
  }

  .credits {
    padding: 4rem;
    height: auto;
  }

  .projects,
  .hours,
  .feedbacks,
  .likes {
    right: 0;
  }

  .about-me {
    flex-direction: column;
    max-width: 100%;
    height: auto;
  }

  .about h1,
  .need-a-project h1 {
    font-size: 25px;
  }

  .about,
  .need-a-project p {
    font-size: 13px;
  }

  .about {
    padding: 2rem 0;
  }

  .portrait,
  .about {
    width: 100%;
  }

  .btn {
    width: 100px;
    height: 32px;
    font-size: 10px;
  }

  .signature {
    width: 180px;
    height: 50px;
  }

  .signature img {
    max-width: 8;
    height: 50px;
    object-fit: cover;
    margin: auto;
  }

  .hours,
  .likes {
    padding-right: 30px;
  }

  .container {
    flex-direction: column;
  }

  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5 {
    width: 100%;
  }

  .column-3 {
    margin-left: -5px;
  }

  .column-2 {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 890px) {
  .column-3 {
    margin-left: -5px;
  }
}
